<div #container class="container">
  <div #googleMap class="map-container"></div>

  <div #menu class="bottom-menu">
    <div class="menu-content">
      <div #menuHeader class="menu-content__menuHeader">
        <div class="menu-content__menuHeader__holder"></div>
      </div>
      <div class="content">
        <div class="content__header">
          <h-button [content]="'-'" (click)="handleMinusClick()"/>
          <div class="content__header__input-field">
            <input [value]="radius"
              class="content__header__input-field__input"
              type="number"
              (change)="handleRadiusChange($event.target)"
              #radiusInput
            />
            <div class="content__header__input-field__text">км</div>
          </div>
          <h-button [content]="'+'" (click)="handlePlusClick()"/>
        </div>
        <div class="content__body">
          <div class="content__body__field">
            <h-card class="col"/>
            <h-card class="col" text="Ваша" bgColor="grey"/>
            <h-card class="col" text="Регион" bgColor="grey"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Средний чек" bgColor="green"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Выручка" bgColor="green"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Расход" bgColor="green"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Расход на ЗП" bgColor="green"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Расход на ресурсы" bgColor="green"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Расход на марк" bgColor="green"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Остальные расходы" bgColor="green"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
          <div class="content__body__field">
            <h-card class="col" text="Доход" bgColor="grey"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
            <h-card class="col" text="770000" [hasIcon]="true"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
